
	<div class="mb-calendar">
		<div class="mb-header">
			<h3>{{monthName}}</h3>
		</div>
		<table class="mb-days">
			<thead>
				<tr>
					<th>monday</th>
					<th>tueday</th>
					<th>wednesday</th>
					<th>thursday</th>
					<th>friday</th>
					<th>saturnday</th>
					<th>sunday</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="week in month">
					<td ng-repeat="day in week" id="{{day.id}}" ng-click="select($event)" data-date="{{day.date}}" data-notmonth="{{day.notmonth}}" data-url="{{day.url}}" ng-class="{notmonth: day.notmonth, booked: day.booked, available: day.available, na: day.na}">{{day.title}}<span>{{day.dayOfMonth}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>