<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <link rel="stylesheet" href="calendar.css">
</head>
<body ng-app="App" ng-controller="base">
    <div ng-repeat="selection in arr">
        {{selection}} <button ng-click="rm($index)">poista</button>
    </div>
    <input ng-model="year" value="2014">
    <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]">
        <moonbook-calendar multiple="true" read-only="false" baseprice="300" days="days" selected="arr" month="i" year="year"></moonbook-calendar>
        
    </div>

</body>
<script>
var app = angular.module('App', []);

app.controller('base', function($scope) {
    $scope.arr = [];
    $scope.month = 08;
    $scope.year = 2014;
    $scope.days = [
        {id: 1, date: 1407939858, bookable: true, price: 2000},
        {id: 3, date: 1408959965, bookable: false, price: 1000}
    ];
    $scope.$watch('arr', function(){
        console.log($scope.arr);
    }, true);
    $scope.rm = function(index) {
        $scope.arr.splice(index, 1);
    }
});


app.directive('moonbookCalendar', function ($parse) {
  return {
    restrict: 'AEC',
    templateUrl: 'calendarTemplate.html',
    scope: {
        multiple: '=',
        selected: '=',
        imonth: '=month',
        year: '=',
        readOnly: '=',
        baseprice: '=',
        days: '='
    },

    link: function (scope, element, attr) {
        // SetUP
        var multipleMode = scope.multiple;
        scope.month = [];
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var days_lib = {};
        function dateT(dt) {
            return dt.getFullYear() + '-' + (dt.getMonth() + 1) + '-' + (dt.getDate()-1);
        }
        function generateUUID(){
            var d = new Date().getTime();
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (d + Math.random()*16)%16 | 0;
                d = Math.floor(d/16);
                return (c=='x' ? r : (r&0x3|0x8)).toString(16);
            });
            return uuid;
        };
        function weekCount(year, month_number) {
            // month_number is in the range 1..12
            var firstOfMonth = new Date(year, month_number-1, 1);
            var lastOfMonth = new Date(year, month_number, 0);
            var used = firstOfMonth.getDay() + lastOfMonth.getDate() -1;
            return Math.ceil( used / 7);
        }
        function buildMonth(year, month_number) {
            scope.month = [];
            var firstDay = new Date(year, month_number-1, 1).getDay()-1;
            var lastDay = new Date(year, month_number, 0).getDate();
            var d = 0;
            for (var i = 0; i < weekCount(year, month_number); i++) {
                scope.month[i] = [];
                for (var c = 0; c < 7; c++) {
                    if ((c < firstDay && d == 0) || d >= lastDay) {
                        scope.month[i][c] = {notmonth: true, id: generateUUID()};
                    } else {
                        d++;
                        var dt = new Date(year, month_number-1, d+1)
                        var dt_text = dateT(dt);
                        scope.month[i][c] = {notmonth: false, dayOfMonth: d, date: dt, id: generateUUID()};
                        var dobj = days_lib[dt_text];
                        scope.month[i][c].available = true;
                        scope.month[i][c].title = scope.baseprice + '€';
                        if (!dobj) { continue; }
                        scope.month[i][c].title = ((dobj.price == null) ? scope.baseprice : dobj.price)+'€';
                        scope.month[i][c].na = !((dobj.bookable == null) ? false : dobj.bookable);
                        if (scope.month[i][c].na) {
                            scope.month[i][c].title = "Not available";
                        }
                        scope.month[i][c].available = !scope.month[i][c].na;

                    }
                };
            };
        } 
        scope.$watch('days', function () {
            for (var i = scope.days.length - 1; i >= 0; i--) {
                (function(day){
                    var dt = new Date(scope.days[i].date*1000);
                    var date = dateT(dt);
                    console.log(date);
                    days_lib[date] = {price: scope.days[i].price, bookable: scope.days[i].bookable};    
                })(scope.days[i]);
            };
            console.log(days_lib);
            buildMonth(parseInt(scope.year), parseInt(scope.imonth));
        });
        scope.$watch('imonth', function(){
            scope.monthName = monthNames[scope.imonth-1];
            buildMonth(parseInt(scope.year), parseInt(scope.imonth));

        });
        scope.$watch('year', function(){
            buildMonth(parseInt(scope.year), parseInt(scope.imonth));
        });
        // Watch for selected
        scope.$watch('selected', function (selected, oldselected) {
            for (var i = oldselected.length - 1; i >= 0; i--) {
                el = document.getElementById(oldselected[i].element);
                el.classList.remove('selected');
                el.dataset['selected'] = false;
            };
            for (var i = scope.selected.length - 1; i >= 0; i--) {
                el = document.getElementById(scope.selected[i].element);
                el.classList.add('selected');
                el.dataset['selected'] = true;
            };
        }, true);
        // onClick event handler
        scope.select = function ($event) {
            if ($event.currentTarget.dataset['notmonth'] === "true") { return; };
            if (scope.readOnly && $event.currentTarget.dataset['url'] !== '') {
                window.location = $event.currentTarget.dataset['url'];
            }
            if (scope.readOnly) {
                return;
            };
            if ($event.currentTarget.dataset['selected'] && $event.currentTarget.dataset['selected'] === "true") {
                // unselect
                var day = $event.currentTarget;
                _.remove(scope.selected, function(obj) {
                    return (new Date(obj.day)).getTime() == (new Date(day.dataset['date'].replace(/\"/g, ''))).getTime();
                });
            } else {
                $event.currentTarget.classList.add('selected');
                $event.currentTarget.dataset['selected'] = true;
                var that = $event.currentTarget;
                if (!multipleMode) {
                    for (var i = scope.selected.length - 1; i >= 0; i--) {
                        el = document.getElementById(scope.selected[i].element);
                        el.dataset['selected'] = false;
                        el.classList.remove('selected');
                    };
                    scope.selected = [];
                }
                scope.selected.push({day: new Date(that.dataset['date'].replace(/\"/g, '')), element: that.id});
            }
        };
    }
}
});
</script>
</html>