    .mb-calendar {
      margin:50px auto; 
      font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
      display:table; 
  }
  .mb-calendar table { 
    background:#fff; 
    border-collapse:collapse; 
} 
.mb-calendar td { 
    color:#2b2b2b; 
    width:90px; 
    height:90px; 
    line-height:25px; 
    text-align:center; 
    border:1px solid #e6e6e6; 
    cursor:default;
    text-transform:uppercase; 
    font-size:90%; 
    color:#9e9e9e; 
} 
.mb-calendar td:not(:last-child) { 
    border-right:1px solid #fff; 
}
.mb-calendar td.today { 
    background: #AFEFFC; 
    color:#FFF; 
}
.mb-calendar td.available { 
    background: #2ED071; 
    color:#FFF; 
}
.mb-calendar td.na { 
    background: #FF2E55; 
    color:#FFF; 
} 
.mb-calendar td.booked { 
    background: #FF8439;
    color:#FFF; 
}
.mb-calendar td:not(.notmonth):hover { 
    color:#fff; 
    background: #C6C6C6;
}
.mb-calendar td.today:hover { 
    background: #D9F3FF; 
    color:#333; 
}
.mb-calendar td.available:hover { 
    background: #5EF0A1; 
    color:#FFF; 
}
.mb-calendar td.na:hover { 
    background: #FF5E85; 
    color:#FFF; 
} 
.mb-calendar td.booked:hover { 
    background: #FFA479; 
    color:#FFF; 
}
.mb-calendar td.selected { 
    background: #6170FF; 
    color:#FFF; 
}
.mb-calendar td.selected:hover { 
    background: #91A0FF; 
    color:#FFF; 
}
.mb-calendar td {
    position: relative;
    transition: all 0.3s;
}
.mb-calendar td span {
    position: absolute;
    top: 5px;
    right: 15px;
}